.Rproj.user
.Rhistory
docs

# workflowr_targets
inst/workflowr_targets/public/*
inst/workflowr_targets/{{OUTPUT_DIR}}/*

# inst/quarto_website_targets
inst/quarto_website_targets/public/*
inst/quarto_website_targets/{{OUTPUT_DIR}}/*
